{% extends '@App/main/layout.html.twig' %}

{% block title %}Home Page{% endblock %}


{% block body %}
    <div class="container">

        <h1><a href="https://github.com/phptuts/symfonystarter">Starter Kit For Symfony Projects.</a></h1>

        <p>
            This starter kit is designed to get you up and rolling with symfony.
            I think that certain things like auth and things that are really close to your business logic should not be done by a bundle.
            Mainly because you want full control.
            The starter kit is the comprise.
            It allows you to start a symfony project will all the goodies but it puts you control.
        </p>


        <p>This comes already setup with: </p>
            <ul>
                <li>Authentication (Login / Registration)</li>
                <li>Third Party Authentication like facebook & google</li>
                <li>Smart Exception Handing with error codes</li>
                <li>Redis Caching with doctrine</li>
                <li>Emails</li>
                <li>Admin Area For User.  Password / Email Changes / and You can disable bad users</li>
                <li>Account setting with s3 file upload example for profile picture</li>
                <li>Change Password</li>
                <li>Forget Password Flow</li>
                <li>Api with <a href="https://github.com/FriendsOfSymfony/FOSRestBundle">FOS Rest Bundle</a></li>
                <li>Api Login With Guard including facebook / google</li>
                <li>Api refresh tokens</li>
                <li>Api documented with <a href="https://github.com/nelmio/NelmioApiDocBundle">NelmioApiDoc</a> bundle</li>
                <li>Errors messages with error codes for the api</li>
                <li>Tested end to end as well as unit tested</li>
                <li>Check out our documentation here</li>
            </ul>

        <p>Thank you <a href="http://www.symfony.com">Symfony</a>!!! Big Fan!!</p>

        <p><a href="https://github.com/phptuts/symfonystarter">Click here</a> to clone the starter kit for symfony.</p>
    </div>
{% endblock %}