<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Simple Transactional Email</title>
    {% block stylesheets %}{% endblock %}
</head>

    {% block body %}

    {% endblock %}

</body>
</html>