{% extends '@App/account-settings/account-setting-layout.html.twig' %}

{% block form_section %}

    <h2>Update your password</h2>

        {{ form_start(changePasswordForm, {'attr': {'novalidate': 'novalidate'}}) }}

        {# Admins are not required to enter their current password to change it. #}
        {% if changePasswordForm.current_password is defined %}
            {{ form_row(changePasswordForm.current_password, {'label' : 'Current Password'}) }}
        {% endif %}

        {{ form_row(changePasswordForm.new_password, {'label': 'New Password'}) }}

    <div class="form-group submit-btn-container">
        <button type="submit" class="btn btn-success pull-right">Change Password</button>
    </div>

    {{ form_end(changePasswordForm) }}


{% endblock %}