{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Hey can you report the error number: {{ error_number|default('123-3233') }} below to {{ email }}.</h1>
        <p>
            <a href="{{ path('homepage') }}">Click here</a> to go home.
        </p>

        <p>
            Sorry about that '), give me high five down low. (high five).
        </p>
    </div>


{% endblock %}