# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Email string
    from_email: email@gams.com

    # Amazon s3
    aws_api_version: 2006-03-01
    aws_region: us-west-2
    aws_s3_bucket_name: bucket
    aws_key:
    aws_secret:

    #Facebook
    facebook_app_secret:
    facebook_app_id:
    facebook_api_version: v2.9

    #GOOGLE
    google_client_id:
    google_client_secret:

    #JWT / JWS Passphrase
    jws_pass_phrase:
    jws_ttl: 5184000

    #Refresh_tokens
    refresh_token_ttl: 10368000