{% extends '@App/email-layout.html.twig' %}

{% block body %}

    <h3>Hey {{ user.getEmail() }}</h3>

    <p><a href="{{ url('reset_password', {'token': user.getForgetPasswordToken()|url_encode }) }}">Click here</a> to reset your password, you token will expire in 2 days.</p>

{% endblock %}