{% extends '@App/documentation/document-layout.html.twig' %}

{% block title 'Account Setting Mobile Nav' %}

{% block content %}
<div class="container">

    <h1>Account Setting Mobile Nav</h1>

    <p>
        We use a js library called: <a href="http://silviomoreto.github.io/bootstrap-select">bootstrap-select</a>.
        This allows us to add data attribute to our select html element so that we can provide a mobile nave.
        We use the onChange jquery event to trigger the page navigation via javascript.
    </p>

</div>
{% endblock %}

{% block helpfulLinks %}

    <ul>
        <li><a href="http://silviomoreto.github.io/bootstrap-select">bootstrap-select</a></li>
    </ul>

{% endblock %}