{% extends '@App/documentation/document-layout.html.twig' %}

{% block title %}Emails{% endblock %}


{% block content %}

    <div class="container">
        <h1>Email</h1>

        <p>Emails are handled by the email service.  We use swiftmailer and a smtp server to send the mail.
            I recommend you use a service and not roll out your own because setting up an email server is a pain the ass.
            The only thing besides swiftmailer you will have to fill out is the from_email parameter.
        </p>
    </div>


{% endblock %}

{% block helpfulLinks %}
    <ul>
        <li><a href="http://symfony.com/doc/current/email.html">Email Symfony</a></li>
    </ul>
{% endblock %}