{% extends '@App/documentation/document-layout.html.twig' %}

{% block title %}FOS Form Handler{% endblock %}


{% block content %}

<div class="container">

    <h1>FOS Form Handler</h1>

    <p>
        In order to make sure that the form error have the right data in them
        we have to over ride a class the fos over rides in the jms serialization bundle.
        We do that by changing the
        <a href="https://github.com/phptuts/symfonystarter/blob/master/app/config/services.yml">jms_serializer.form_error_handler.class</a> to point to our class.
        In the
        <a href="https://github.com/phptuts/symfonystarter/blob/master/src/AppBundle/Handler/FormErrorHandler.php#L32">FormErrorHandler</a> we just wrap the form errors in the meta / data response envelope.
    </p>

</div>

{% endblock %}

{% block helpfulLinks %}
    <ul>
        <li><a href="https://symfony.com/doc/master/bundles/FOSRestBundle/2-the-view-layer.html#forms-and-views">FOS Rest Bundle Forms</a></li>
    </ul>

{% endblock %}