{% extends '@App/documentation/document-layout.html.twig' %}

{% block title 'Response Serializer' %}

{% block content %}

<div class="container">

    <h1><a href="https://github.com/phptuts/symfonystarter/blob/master/src/AppBundle/Service/ResponseSerializerService.php">Response Serializer</a></h1>

    <p>All of our response use a response serializer which takes in a <a href="https://github.com/phptuts/symfonystarter/blob/master/src/AppBundle/Model/Response/ResponseModelInterface.php">response model interface</a>.</p>

    <p>
        All of response have meta / data.  The important thing to note about meta data is that it has a type field.
        This allows for a mobile client to easily create json parser for the different types of json.  The other thing to note is paginated field.
        This lets the client programmer know if it's one object or many.
    </p>

    <h2>Example User Response</h2>

    <pre>

        {
            "meta": {
                "type": "users",
                "paginated": true,
                "total": 117,
                "page": 1,
                "pageSize": 10,
                "totalPages": 12
            },
            "data": [
                {
                    "id": "a043b040-6a88-11e7-9d99-08002732ed09",
                    "displayName": "audie.abbott",
                    "email": "oerdman@yahoo.com",
                    "bio": null
                },
                {
                    "id": "a043c5a0-6a88-11e7-9d99-08002732ed09",
                    "displayName": "eliza16",
                    "email": "reilly.paris@homenick.com",
                    "bio": null
                },
                {
                    "id": "a043d780-6a88-11e7-9d99-08002732ed09",
                    "displayName": "roberts.kaden",
                    "email": "howard.kihn@mraz.com",
                    "bio": null
                },
                {
                    "id": "a043e8ba-6a88-11e7-9d99-08002732ed09",
                    "displayName": "zachary25",
                    "email": "dratke@ward.com",
                    "bio": null
                },
                {
                    "id": "a043fa23-6a88-11e7-9d99-08002732ed09",
                    "displayName": "elisha.gleichner",
                    "email": "mariane.harris@gmail.com",
                    "bio": null
                },
                {
                    "id": "a0440a81-6a88-11e7-9d99-08002732ed09",
                    "displayName": "leonie46",
                    "email": "schuppe.cordia@hotmail.com",
                    "bio": null
                },
                {
                    "id": "a0441ace-6a88-11e7-9d99-08002732ed09",
                    "displayName": "tess.bruen",
                    "email": "lveum@gmail.com",
                    "bio": null
                },
                {
                    "id": "a0442b34-6a88-11e7-9d99-08002732ed09",
                    "displayName": "labadie.gerry",
                    "email": "ccorwin@yahoo.com",
                    "bio": null
                },
                {
                    "id": "a0443c46-6a88-11e7-9d99-08002732ed09",
                    "displayName": "margaretta46",
                    "email": "sdaniel@nolan.com",
                    "bio": null
                },
                {
                    "id": "a0444db3-6a88-11e7-9d99-08002732ed09",
                    "displayName": "shaylee52",
                    "email": "borer.diana@gmail.com",
                    "bio": null
                }
            ]
        }
    </pre>


</div>

{% endblock %}

{% block helpfulLinks %}
    <ul>
        <li><a href="http://jmsyst.com/bundles/JMSSerializerBundle">JMS Serializer</a></li>
    </ul>
{% endblock %}