{% extends '@App/documentation/document-layout.html.twig' %}

{% block title %}User Voter{% endblock %}

{% block content %}

<div class="container">

    <h1>User Voter</h1>

    <p>This is used by the security system to vote on whether a user can edit / view something.  Voter can return Abstain / Granted / Denied</p>

    <p>The User Voter will allow user's to edit themselves and allow admins to edit other users</p>

    <ol>
        <li>Abstained:  Means it did not vote.</li>
        <li>Granted:  Means it voted up.</li>
        <li>Denied:  Means it voted down.</li>
    </ol>

</div>

{% endblock %}

{% block helpfulLinks %}
    <ul>
        <li><a href="https://symfony.com/doc/current/security/voters.html">Symfony Voters</a></li>
    </ul>
{% endblock %}