{%  extends '@App/layout.html.twig' %}

{% block title %}Reset Password{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/app/main-panel.css') }}" rel="stylesheet" media="all">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="panel panel-default col-md-offset-3 col-md-6 main-panel" >
            <div class="panel-heading">Invalid Password Reset Token</div>
            <div class="panel-body">
                <p>Your reset password token as expired, please <a href="{{ path('forget_password') }}">click here</a> to reset your password.</p>
            </div>
        </div>

    </div>

{% endblock %}