{% extends '@App/documentation/document-layout.html.twig' %}

{% block title 'Change Password' %}

{% block content %}
<div class="container">

    <h1>Change Password</h1>

    <h2>
        <a href="https://github.com/phptuts/symfonystarter/blob/master/src/CoreBundle/Form/User/ChangePasswordType.php">
        Change Password Form
        </a>
    </h2>

    <p>
        This uses an AuthorizationChecker that checks if the user's role is admin.  If it is it will remove the current password field from the form.
        This allows for admins to change other people password.
    </p>

    <h2>
        <a href="https://github.com/phptuts/symfonystarter/blob/master/src/CoreBundle/Model/User/ChangePasswordModel.php">Change Password Model</a>
    </h2>

    <p>This is the model the form uses.
        Notice it uses the symfony UserPassword constraint.
        This validate that what user entered for that field matches the user's password
    </p>

</div>

{% endblock %}

{% block helpfulLinks %}

    <ul>
        <li><a href="https://symfony.com/doc/current/reference/constraints/UserPassword.html">UserPassword Constraint</a></li>
        <li><a href="http://symfony.com/doc/current/components/security/authorization.html#authorization-checker">Authorization Checker</a></li>
    </ul>

{% endblock %}