{% extends '@App/documentation/document-layout.html.twig' %}

{% block title 'Custom File Upload Field Type' %}

{% block content %}

    <div class="container">
        <h1>Custom File Upload Field Type</h1>

        <p> We have a custom file uploader field type that can be found here.  It renders out the file uploader using some nice bootstrap magic.
            If you want to use it else where you have to include the js  associated with it.  An example of that can be found on the account setting page.
            Here an example <a href="https://github.com/phptuts/symfonystarter/blob/master/src/AppBundle/Resources/views/account-settings/update-user.html.twig">page</a>.
            Here is where the twig is to render the form. <a href="https://github.com/phptuts/symfonystarter/blob/master/app/Resources/views/form/fields.html.twig">Twig</a>
        </p>
    </div>

{% endblock %}

{% block helpfulLinks %}

    <ul>
        <li><a href="http://symfony.com/doc/current/form/create_custom_field_type.html">Custom Field / Type Documentation</a></li>
        <li><a href="https://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3">HTML / JS Source</a></li>
    </ul>

{% endblock %}