{% extends '@App/documentation/document-layout.html.twig' %}

{% block title %}Forget Password Workflow{% endblock %}


{% block content %}

    <div class="container">

        <h1>Forget Password Workflow</h1>

        <ol>
            <li>User Emails their password into the form or client submit through the api</li>
            <li>The forget password form will use a form transformer one the whole form to transform the form to email. (see notes at bottom)</li>
            <li>If the email is found the forget password service will create a token and expiration timestamp for that token.</li>
            <li>An email will sent to the user with the reset password link.</li>
            <li>The user click on the link and the token is validated.  If the token is invalid they see a page asking them to get a new token.</li>
            <li>Otherwise it display a form for them enter their new password.</li>
            <li>User submits new password and they are redirected to the reset password success page.</li>
        </ol>

        <h2>Side Note</h2>

        <pre>
            $resolver->setDefaults([
                'data_class' => User::class,
                // This is what maps the error to the user
                'error_mapping' => [
                '.' => 'email'
                ],
                'invalid_message' => 'Email was not found.',
                'validation_groups' => [User::VALIDATION_GROUP_DEFAULT]
            ]);
        </pre>
        <p>
            Notice the error_mapping has the . => email.  This means that all error messages that are unknown will be mapped to that field.

            Also note the invalid_message is what is displayed.  This is what happens if a transformationException is thrown.
        </p>

        <ul>
            <li>
                <a href="https://github.com/phptuts/symfonystarter/blob/master/src/CoreBundle/Form/User/RegisterType.php">ForgetPasswordType</a> - the form used for the forget password page.
            </li>
            <li>
                <a href="https://github.com/phptuts/symfonystarter/blob/master/src/CoreBundle/Form/DataTransformer/UserEmailTransformer.php">UserEmailTransformer</a> - the transformer used to change the forget password email into a user.
            </li>
        </ul>
    </div>


{% endblock %}

{% block helpfulLinks %}
    <ul>
        <li><a href="http://symfony.com/doc/current/email.html">Email Symfony</a></li>
        <li><a href="http://symfony.com/doc/current/form/data_transformers.html">Data Transformers</a></li>
        <li><a href="https://symfony.com/doc/current/reference/forms/types/form.html#error-mapping">Error Mapping Symfony Forms</a></li>
        <li><a href="https://symfony.com/doc/current/reference/forms/types/form.html#invalid-message">Invalid Message Symfony Forms</a></li>
    </ul>
{% endblock %}