{% extends '@App/documentation/document-layout.html.twig' %}

{% block title %}JWS / JWT Tokens{% endblock %}


{% block content %}

    <div class="container">
        <h1>JWS / JWT Token</h1>

        <p>Check out to <a href="http://jwt.io">jwt.io</a> to learn more about the jwt token.  We use <a href="https://github.com/namshi/jose">namshi/jose</a> php package to create our jws token.</p>

        <p>We also use the RS256 security pattern to validate the token.   </p>

        <h2>Payload</h2>

        <ul>
            <li>user_id: This is the user id of the token, all tokens in our system must have this in order to be valid</li>
            <li>exp: The timestamp the token will expire</li>
            <li>iat: The timestamp the token was issued</li>
        </ul>

        <h2>parameters.yml -> jws</h2>

        <ul>
            <li>jws_pass_phrase: The secret pass phrase for validating your jwt / jws tokens
            </li>
            <li>
                jws_ttl: The number of seconds before the jws / jwt token expires.
            </li>
        </ul>
    </div>

{% endblock %}

{% block helpfulLinks %}
    <ul>
        <li><a href="http://jwt.io">jwt.io</a> great for learning and debuging jwt / jws tokens</li>
        <li><a href="https://github.com/namshi/jose">NAMSHI | JOSE</a> The php package we use for jwt tokens</li>
    </ul>

{% endblock %}