{% extends '@App/layout.html.twig' %}

{% block title %}Facebook / Google Auth High Level{% endblock %}

{% block body %}

    <div class="container">
        <h1>Facebook / Google Auth High Level From Server Point of view.</h1>

        <ol>
            <li>Validate the access token by fetching the user and the email.</li>
            <li>See if the a user exists with the the providers user id if so return that user.</li>
            <li>See if the a user exists with email the returned by the third party.  If it did save the user id from the third party provider to the user and return the user.</li>
            <li>Create a new user a with the third party provider user id.</li>
        </ol>

        <p>The reason you check the facebook / google user id first is because they might change their email address on facebook / google,
            but not on your sight.  If stuff like that happens you won't create duplicate users that are really the same.</p>
    </div>


{% endblock %}