{% extends '@App/layout.html.twig' %}

{% block title %}Token Guard Workflow{% endblock %}

{% block body %}

    <div class="container">
        <h1>Token Guard Workflow</h1>

        {# TODO FILL IN DOCS #}
    </div>


{% endblock %}