{% extends '@App/documentation/document-layout.html.twig' %}

{% block title 'Website Login / Registration' %}

{% block content %}

<div class="container">
    <h2>Website Email & Password Login</h2>

    <p>Every post that goes to /login will intercepted by the symfony security.  If what the user enter is valid then user will be take to
        whatever page they where are before.  If that's not available they will go to home page.</p>



    <h2><a href="https://github.com/phptuts/symfonystarter/blob/master/src/AppBundle/Controller/UserController.php#L59">Website Registration</a></h2>

    <p>
        Registration will authenticate the user via session.  It will act pretty much like login does.  Registration is handle by the <a href="https://github.com/phptuts/symfonystarter/blob/master/src/CoreBundle/Service/User/RegisterService.php#L78">register service</a>.
        This will encode the user's plain password and send a out a generic email.  The parameter from from_email is where from address comes from.  Notice that the register service will mark the user registered via website if they are coming in from the website.
    </p>
</div>


{% endblock %}

{% block helpfulLinks %}
    <ul>
        <li><a href="http://symfony.com/doc/current/security/form_login_setup.html">Symfony Form Login</a></li>
        <li><a href="http://symfony.com/doc/current/security/entity_provider.html">Loading User From Database</a></li>
        <li><a href="https://github.com/FriendsOfSymfony/FOSUserBundle">FOSUserBundle</a> (A for user management)</li>
    </ul>
{% endblock %}